.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 150px;
}

.inputContainer {
  padding: 0 167px;
  margin-top: 50px;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

@media (max-width: 1200px) {
  .container {
    padding: 15px 80px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .inputContainer {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px 40px;
  }
}

@media (max-width: 555px) {
  .container {
    justify-content: center;
    padding: 15px 10px;
  }
}

/* @media (max-width: 555px) {
  .container {
    padding: 15px 10px;
  }
} */

input {
  margin-top: 100px;
}