.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 150px;
}

.inputContainer {
  padding: 0 167px;
  margin-top: 50px;
}
.inputContainer input{
  background: none;
  outline: none;
  padding: 7px;
  border-radius: 10px;
  border: 2px solid #1a73e8;
  margin-top: 100px;
}
.inputContainer button{
  border: none;
  background: #1a73e8;
  padding: 7px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #ffff;
}
.productContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}


.filterBox{
  background-color: #ffff;
  padding: 20px;
  height: 230px;
  border-radius: 10px;
  border: 1px solid silver;
  margin-bottom: 50px;
}
.filterBox h3{
  color: #1a73e8;
  margin-bottom: 20px;
}
.filterBox li{
  list-style: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
}
@media (max-width: 1200px) {
  .container {
    padding: 15px 80px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .inputContainer {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px 40px;
  }
}

@media (max-width: 555px) {
  .container {
    justify-content: center;
    padding: 15px 10px;
  }
}

/* @media (max-width: 555px) {
  .container {
    padding: 15px 10px;
  }
} */


.loading {
  width: 100%;
  text-align: center;
}
.loading *{
  margin: 0 auto;
}
.selected{
  color: #1a73e8;
  background-color: #71afff;
  border-radius: 10px;
}